/* src/components/DrinkListBox.css */

.drink-list-box {
    width: 608px;
    border: 2px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
  }

  .drink-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }

  ul {
    list-style-type: none;
    padding: 0;
  }



  .Menu-font {
    font-weight: 600;
    font-size: 36px;
    margin-left: 60px;
    margin-bottom: 30px;
  }

  .menu-prices {
    font-weight: 600;
    font-size: 36px;
    margin-right: 60px;
    margin-bottom: 30px;
  }
